@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
	background-image: url("../images/fishshasta2.jpg");
	background-color: #e6ebed;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	margin-top: 20em;
	
}
header {
	color: #90c9dd;
	font-family: 'Michroma', sans-serif;
	text-align: center;
	font-size: 50px;
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;


}
p {
    color: #ACD0DE;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B8B9D7;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
li {
    display: block;
    color: white;
    text-align: center;
    float: left;
    padding: 8px;
    text-decoration: none;
    font-family: "Helvetica"
}

/* Change the link color to #111 (black) on hover*/
li :hover {
    background-color: #111111;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}