body {
	background-image: url("../images/riverupdate.jpg");
	background-color: #e6ebed;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	margin-top: 200px;
	
}
h1,p {
	color: #90c9dd;
	font-family: "Tahoma";
	text-align: center;
}
ul,li{
	color: #ffeead;
	font-style: normal;
	font-family: "Helvetica";
	margin-left: 80px;
}
