body {
	background-image: url("https://github.com/ajaggersf/ajaggersf.github.io/blob/master/unit_3/Images/FishShasta.JPG");
	background-position: center;
}
h1,p {
	font-color: #778AAA;
}
ul,li{
	font-color: #E5E4F2;
	font-style: normal;
	font-family: "Courier";
}
